{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jampass {%block title%}{%endblock%}</title>

    <link rel="stylesheet" href="{% static '/css/nav.css'%}">
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <link rel="stylesheet" href="{% static '/css/purchased.css'%}">
    
  </head>
  <body>
    {% if user.is_authenticated %}

    <nav>
      <h2>Welcome, {{user.username}}</h2>
      <ul>
        <li>
          <a href="/">Home</a>
      </li>
          <li>
              <a href="">JP Credits - {{user.userprofile.balance}}</a>
          </li>
          <li>
              <a href="{% url 'user_keys' %}">Cart</a>
          </li>
          <li>
              <a href="">More Credits</a>
          </li>
          <li>
              <a href="{% url 'logout' %}">Logout</a>
          </li>
      </ul>
  </nav>
   
    {% else %}

    <nav>
      <h2>Welcome, {{user.username}}</h2>
      <ul>
        <li>
          <a href="/">Home</a>
      </li>
          <li>
              <a href="{% url 'user_keys' %}">Cart</a>
          </li>
          <li>
              <a href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'register' %}">Signin</a>
        </li>
      </ul>
  </nav>
    {% endif %}
    <div class="px-6 py-6">{% block content %}{% endblock %}</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
